<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>New User Account</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
	<link href="css/stylesheet.css" rel="stylesheet" />
	<link href="css/registration.css" rel="stylesheet" />
</head>

<body data-ng-app>
	<script src="js/GenerateHeader.js"></script>

	<form data-ng-submit="submit()" data-ng-controller="NewUser">
		<div class="chart-form grey-bg">
			<div class="input-fields">
				<input class="input" data-ng-model="UserName" placeholder="Username" required />
				<input class="input" data-ng-model="EmailAddress" placeholder="Email" required type="email" />
				<input class="input" type="password" data-ng-model="Password" placeholder="Password" required />
				<button class="createButton" id="submit">Create</button>
				<p>Response: {{ response }}</p>
				<br />
			</div>
		</div>
	</form>
	<script type="text/javascript" src="js/NewUser.js"></script>
</body>

</html>